/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://i.ibb.co/wYHG4wW/sf1024.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.team-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f1f5f8;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.team {
  float: center;
  width: 100%;
  transition: transform .9s ease;
  opacity:0.9;
}
.team:hover{
  cursor:pointer;
  transform: scale(1.2);
  opacity:1.0;
}

.team-icon img {
  width: 200px;
  height: 250px;
  position: relative;
  border: 4px solid #b3aeb5;
  border-radius: 4px;
}

.team-icon p {
  position: relative;
  width: 100%;
  color: rgb(2, 2, 2);
  margin: 0 0 0 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* contact form */
.contact-form {
  padding: 25px 0;
  width: 100%;
  background-color: #f1f5f8;
}

.form-heading {
  color: #5f5d60;
  font-family: "Roboto", sans-serif;
}

.form-heading h2 {
  margin-bottom: 20px;
}

.form-heading p {
  font-size: 18px;
  color: #5f5d60;
}

.form-heading hr {
  margin-bottom: 50px;
  border-top: 4px #5f5d60;
}

form label {
  color: #5f5d60;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

form input,
form textarea {
  width: 50%;
  border: 1px solid #dee7ec;
  border-radius: 5px;
  padding: 5px;
}

.row {
  display: flex;
  padding: 5px 10px;
  flex-wrap: wrap;
}

.row-15 {
  width: 15%;
}

.row-75 {
  width: 75%;
}

.row-100 {
  width: 52.5%;
}

.btn-send {
  padding: 15px 55px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #5dca88;
  color: #fff;
  position: relative;

  z-index: 1;
}

.btn-send::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}

.btn-send:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}



/* Ketik code Anda dibawah */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
